body{
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}
#btn{
    width: 200px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffc107;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}
#btn::before{
    color: darkgrey;
    content: "Coffee!";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s;
}
#btn:hover::before{
    top: -30px;
}
#btn::after{
    font-family: "Ionicons";
    content: '\f2a9';
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 140%;
    transition: all 0.5s;
}
#btn:hover::after{
    top: 50%;
}